body{
/*background-image: url("img-src/bg-final.jpeg");*/
/*color: white;*/
text-align: center;
box-sizing: border-box;
}

p{
	border: 1px black solid;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

a{
	text-decoration: none;
	/*text-align: center;*/
	border: 1px black solid;
	font-size: 2.9em;
	margin: 10px 10px 10px 10px;
	padding: 0px 20px 0px 20px; /*top - right - bottom - left*/
}

h1{
	/*text-align: center;*/
	border: 1px black solid;
	font-size: 3em;
}

.initial{
	/*text-align: center;*/
	border: 1px black solid;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

h2{
	border: 1px black solid;
	margin-top:220px;
	font-size: 3em;
}



.tiles{

	border: 1px black solid;
	font-size: 3em;



}

.jumbotron{
border: 1px black solid;
width:800px;
height: 900px;
margin:auto;
padding: 10px 10px 10px 10px;

/*text-align: center;*/
}

/*class for hiding elements*/
.hide{
	display :none;
}

/* Aligning 4x4 Grid*/
.grid {
	width:18%;
 	height:19%;
 	margin:10px 10px 10px 10px;
 	display: inline-grid;
	position: relative;
}
.status-bar{
	border: 1px black solid;
	width: 720px;
	margin: auto;
	height: 35px;
	margin-top:5px;
	text-align: right;
}
.bar-items{
	border: 1px black solid;
	display: inline-block;
	margin:6px 5px 5px 5px;
}



.score-card {

}

.move-card{

}



